<nav class="ui raised menu">
  <header class="ui large header item"> <a href="/dashboard"> <i class="home icon"></i> </a></header>
  <div class = "ui container" style="position: relative; width:100%; height:60%;">
    <img class= "ui fluid image" src="\public\images\weatherbanner1.png">
    <div class ="ui container" style="position: absolute; bottom: 5%; left: 3%; color: white;text-shadow: 1px 1px 0px #000000;">
      <h1 style="font-size: xx-large">  WeatherTop Stations </h1>
    </div>
  </div>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>