<nav class="ui menu">
  <header class="ui large header item"> <a href="/"> <i class="home icon"></i> </a></header>
  <div class = "ui container" style="position: relative; width:100%; height:60%;">
    <img class= "ui fluid image" src="\public\images\weatherbanner1.png">
    <div class ="ui container" style="position: absolute; bottom: 5%; left: 3%; color: white;text-shadow: 1px 1px 0px #000000;">
    <h1 style="font-size: xxx-large">  WeatherTop </h1>
    </div>
  </div>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>