#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<section class="ui segment">
  <h2 class="ui header">
    ${station.name} Weather Station
  </h2>
  <h3><span class="ui medium text">Current Weather</span></h3>
  <section class="ui segment" style="background-color: lavender">
    <div class="ui five column grid">
      <div class="column" style="padding-left:0.5rem; padding-right: 0.5rem;">
        <div class="ui inverted segment" style="background: radial-gradient(at top right, rebeccapurple,cornflowerblue)">
          <div class="ui container">
            <i class="large circular colored white map marked alternate icon" style="float:right;"> </i>
          </div>
          <p>
            <br><span class="ui large white text" style="font-style: "><b>${station.name}</b></span>
          </p>
          <p class = "ui small text" style="line-height:1.25em;">
            <b>Lat:</b> ${station.latitude}<br>
            <b>Lng:</b> ${station.longitude}<br><br><br><br>
          </p>
        </div>
      </div>
      <div class="column" style="padding-left:0.5rem; padding-right: 0.5rem;">
        <div class="ui inverted segment" style="background: radial-gradient(at top right, rebeccapurple,cornflowerblue)">
          <div class="ui container">
            <i class="${station.weatherIcon}" style="float:right;"> </i>
          </div>
          <p>
            <br><span class="ui large white text">Weather</span>
          </p>
          <p class = "ui small text" style="line-height:1.25em;">
           ${station.weatherCode}
            <br><br><br><br><br>
          </p>
        </div>
      </div>
      <div class="column" style="padding-left:0.5rem; padding-right: 0.5rem;">
        <div class="ui inverted segment" style="background: radial-gradient(at top right, rebeccapurple,cornflowerblue)">
          <div class="ui container">
            <i class="large circular colored white thermometer half icon" style="float:right;"> </i>
          </div>
          <p>
            <br><span class="ui large white text">Temp</span>
          </p>
          <div class="ui container">
            <i class="${station.trendTemp}" style="float:right;"> </i>
          </div>
          <p class = "ui small text" style="line-height:1.25em;font-size: smaller">
            ${station.tempCelsius} &degC<br>
            ${station.tempFahrenheit} &degF<br><br><br>
            <b>Min:</b> ${station.minTemp} &degC<br>
            <b>Max:</b> ${station.maxTemp} &degC<br>
          </p>
        </div>
      </div>
      <div class="column" style="padding-left:0.5rem; padding-right: 0.5rem;">
        <div class="ui inverted segment" style="background: radial-gradient(at top right, rebeccapurple,cornflowerblue)">
          <div class="ui container">
            <i class="large circular colored white wind icon" style="float:right;"> </i>
          </div>
          <p>
            <br><span class="ui large white text">Wind</span>
          </p>
          <div class="ui container">
            <i class="${station.trendWind}" style="float:right;"> </i>
          </div>
          <p class = "ui small text" style="line-height:1.25em;font-size: smaller">
            ${station.beaufort} bft<br>
            ${station.windCompass}<br>
            Feels like: ${station.windChill} &deg<br><br>
            <b>Min:</b> ${station.minWind} km/h<br>
            <b>Max:</b> ${station.maxWind} km/h
          </p>
        </div>
      </div>
      <div class="column" style="padding-left:0.5rem; padding-right: 0.5rem;">
        <div class="ui inverted segment" style="background: radial-gradient(at top right, rebeccapurple,cornflowerblue)">
          <div class="ui container">
            <i class="large circular colored white compress arrows alternate icon" style="float:right;"></i>
          </div>
          <p>
            <br><span class="ui large white  text">Pressure</span>
          </p>
          <div class="ui container">
            <i class="${station.trendPressure}" style="float:right;"> </i>
          </div>
          <p class = "ui small text" style="line-height:1.25em;font-size: smaller">
            ${station.pressure} hpa <br><br><br><br>
            <b>Min:</b> ${station.minPressure} <br>
            <b>Max:</b> ${station.maxPressure} <br>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="ui segment" style="background-color: lavender">
    #{if station.readings.size() > 0}
    #{listreadings station:station/}
    #{/if}
    #{else}
    <h4> You have not entered any readings</h4>
    #{/else}
    #{addreading station:station/}
  </section>
</section>
